//@import url('https://fonts.googleapis.com/css?family=Roboto+Serif:600.css');

@import 'colors.less';

#app-root-2023-wcp .app {
  font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 40px auto;
  max-width: 1350px;
  width: 100%;
  h3 {
    background-color: @unblue;
    color: #fff;
    font-size: 26px;
    font-weight: 600;
    font-weight: 600;
    margin: 0 0 20px 0;
    padding: 20px 10px;
  }
  .container {
    display: flex;
    flex-flow: row wrap;
    margin: auto auto;
    max-width: 700px;
    .indicator_container {
      box-sizing: border-box;
      flex: 100%;
      margin-bottom: 20px;
      // &:nth-child(2n) {
      //   padding-left: 20px;
      // }
      // &:nth-child(2n - 1) {
      //   padding-right: 20px;
      // }
      h4 {
        border-bottom: 1px solid rgba(170, 160, 150, 0.5);
        color: #000;
        font-size: 22px;
        font-weight: 600;
        margin: auto auto 20px auto;
        padding: 5px 0;
      }
      p {
        max-width: 650px;
        margin: auto auto 20px auto;
      }
      .indicator_list {
        display: flex;
        list-style: none;
        margin: 0 0 20px 0;
        padding: 0;
        li {
          align-items: center;
          flex: 50%;
          font-weight: 600;
          margin-bottom: 10px;
          text-align: center;
          .value {
            display: block;
            font-size: 20px;
            font-weight: 600;
            margin-bottom: 5px;
            .number {
              border-radius: 20px;
              color: #fff;
              display: inline-block;
              height: 40px;
              line-height: 40px;
              text-align: center;
              width: 40px;
              &.high {
                background-color: @unblue;
              }
              &.medium {
                background-color: @unorange;
              }
              &.low {
                background-color: @unred;
              }
            }
          }
        }
      }
    }
  }
}

@import 'basics.less';